*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: whitesmoke;
  stroke-opacity: ;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

#hiscore {
  font-size: 16px;
  padding-top: 10px;
  background-color: aqua;
  border-radius: 5px;
  padding: 10px;
}

.time {
  display: flex;
  border: black;
  padding-top: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.container1 {
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
}

#container1h2 {
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

#question-container {
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 200px;
}

#answer-buttons {
  width: 120px;
  max-width: 50%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  color: black;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.hide-form {
  display: none;
}

.start-btn-btn {
  width: 120px;
  max-width: 50%;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  color: white;
  outline: none;
  margin-right: 15%;
}

.start-btn-btn:hover {
  background-color: blue;
  border-color: yellow;
}

